.headerBox {
  padding: 24px;
  position: fixed;
  left: 0;
  width: 100%;
}

.contentBox {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 128px;
}

.columns {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
